*~
*.sh~
.gitignore~
README.md~
README.html
pom.xml~
.Rhistory

notes-ie.txt
*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

/ear/target/
/ejb/target/
/web/target/

/db/target/
/db/liquibase.properties

/docs/*.html
/docs/*.html~
/docs/*.txt~
docs/.Rhistory

/MediaServerClient/target/
/web/nbproject/
